.rdp {
  --rdp-cell-size: 32px;

  --rdp-accent-color: rgb(243 244 246);
  --rdp-background-color: rgb(243 244 246);
  --rdp-accent-color-dark: rgba(31, 41, 55);
  --rdp-background-color-dark: rgba(31, 41, 55);

  /* Outline border for focused elements */
  --rdp-outline: none;
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: none;

  @apply m-1;
}

.rdp-my-today:not([disabled]) {
  /* Disable default style */
}

.rdp-button:not([disabled]) {
  @apply rounded-lg border;
}

.rdp-button:hover:not([disabled]),
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  @apply bg-gray-200;
}

.rdp-head_cell {
  text-transform: none;
  @apply font-light text-gray-700;
}

.rdp-my-selected:disabled,
.rdp-my-selected:not([disabled]) {
  @apply font-bold rounded-lg bg-gray-200;
}

.rdp-caption_label {
  @apply text-sm font-medium;
}

.rdp-nav {
  @apply flex flex-row items-center;
}

.rdp-nav_button {
  @apply p-1 h-7 w-7;
}

.rdp-nav_button svg {
  @apply h-4 w-4;
}

.rdp-day {
  @apply border-none;
}
