@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shadcn shit */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
/* End of shadcn shit */

body {
  @apply bg-white text-black;
}

.without-ring {
  @apply focus:ring-0 focus:ring-offset-0  focus-visible:outline-none;
}

.button-base {
  @apply py-1 px-2 border rounded-lg mt-[1px] ml-[1px];
}

.button-disabled {
  @apply button-base border-transparent;
}

.button {
  @apply button-base border-transparent hover:border-opacity-20 hover:border-gray-700;
}

.button-active {
  @apply button-base border-gray-700 !border-opacity-20 bg-gray-50;
}

.button-visible {
  @apply button-base border-gray-700 border-opacity-10 hover:border-gray-700 hover:border-opacity-30 focus:border-opacity-40 focus:border-gray-700 focus-within:border-gray-700 focus-within:border-opacity-40;
}

.button-full-red {
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm self-stretch px-5 py-2.5 text-center;
}

.button-full-gray {
  @apply text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm self-stretch px-5 py-2.5 text-center;
}

.page-padding {
  @apply px-2 sm:px-4;
}

.task-padding {
  @apply px-2 sm:px-4;
}

.page-container {
  @apply max-w-3xl mx-auto;
}

.tiptap {
  @apply without-ring;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  @apply text-gray-400;
}

@keyframes bounce-h {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-h-out {
  0% {
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: translateX(1000%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-h-fast {
  animation: bounce-h 0.4s infinite;
}

.animate-bounce-h-fast-out {
  animation: bounce-h-out 0.5s 1;
}

.popover-button {
  @apply px-6 py-3 text-sm flex flex-row items-center justify-between border-b border-gray-200 hover:bg-gray-100 w-full;
}

.popover-button-active {
  @apply bg-gray-100 font-bold;
}
