@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
  /* Remove blue highlight on tap on mobile */
  -webkit-tap-highlight-color: transparent;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
